*, *:after, *:before {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.progress-bar {
    height: 5px;
    background: rgb(214, 162, 113);
    margin-top: 20px;
}

.img-item {
    width: 100%;
}

.img-item img {
    width: 100%;
    max-width: 800px;
}